/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19  Distrib 10.5.27-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: automate
-- ------------------------------------------------------
-- Server version	10.5.27-MariaDB-ubu2004

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `automates`
--

DROP TABLE IF EXISTS `automates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `automates` (
  `id_automate` int(11) NOT NULL AUTO_INCREMENT,
  `zone` varchar(50) NOT NULL,
  `adresse_ip` varchar(50) NOT NULL,
  PRIMARY KEY (`id_automate`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `automates`
--

LOCK TABLES `automates` WRITE;
/*!40000 ALTER TABLE `automates` DISABLE KEYS */;
INSERT INTO `automates` VALUES (1,'Zone 1','172.16.1.21'),(2,'Zone 2','172.16.1.22'),(3,'Zone 3','172.16.1.23'),(4,'Zone 4','172.16.1.24'),(5,'Zone 5','172.16.1.25'),(6,'Zone 6','172.16.1.26');
/*!40000 ALTER TABLE `automates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `defauts`
--

DROP TABLE IF EXISTS `defauts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `defauts` (
  `id_defaut` int(11) NOT NULL AUTO_INCREMENT,
  `id_variable` int(11) DEFAULT NULL,
  `type_defaut` varchar(255) NOT NULL,
  `heure_detection_defaut` datetime NOT NULL,
  `date_detection_defaut` datetime NOT NULL,
  `statut` varchar(50) NOT NULL,
  PRIMARY KEY (`id_defaut`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `defauts`
--

LOCK TABLES `defauts` WRITE;
/*!40000 ALTER TABLE `defauts` DISABLE KEYS */;
INSERT INTO `defauts` VALUES (1,1,'Fuite','2024-11-28 14:30:00','2024-11-28 14:30:00','Actif'),(2,NULL,'Fuite','2024-11-28 14:30:00','2024-11-28 14:30:00','Actif'),(3,NULL,'Fuite','2024-11-28 14:30:00','2024-11-28 14:30:00','Actif');
/*!40000 ALTER TABLE `defauts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historique_automates`
--

DROP TABLE IF EXISTS `historique_automates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `historique_automates` (
  `id_historique` int(11) NOT NULL AUTO_INCREMENT,
  `id_automate` int(11) NOT NULL,
  `zone` varchar(255) NOT NULL,
  `ancienne_ip` varchar(255) DEFAULT NULL,
  `nouvelle_ip` varchar(255) DEFAULT NULL,
  `modifie_par` varchar(255) NOT NULL,
  `date_modification` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id_historique`),
  KEY `id_automate` (`id_automate`),
  CONSTRAINT `historique_automates_ibfk_1` FOREIGN KEY (`id_automate`) REFERENCES `automates` (`id_automate`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historique_automates`
--

LOCK TABLES `historique_automates` WRITE;
/*!40000 ALTER TABLE `historique_automates` DISABLE KEYS */;
INSERT INTO `historique_automates` VALUES (1,1,'Zone 1','172.16.1.31','172.16.1.36','admin','2024-11-30 19:00:38'),(2,1,'Zone 1','172.16.1.36','172.16.1.21','admin','2024-11-30 19:16:18'),(3,1,'Zone 1','172.16.1.21','172.16.1.17','admin','2024-11-30 20:57:45'),(4,1,'Zone 1','172.16.1.17','172.16.1.21','admin','2024-11-30 20:57:51');
/*!40000 ALTER TABLE `historique_automates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operateurs`
--

DROP TABLE IF EXISTS `operateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `operateurs` (
  `id_operateur` int(11) NOT NULL AUTO_INCREMENT,
  `nom_operateur` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `date_creation` datetime NOT NULL,
  `statut` varchar(50) NOT NULL,
  `id_defaut` int(11) DEFAULT NULL,
  `id_variable` int(11) DEFAULT NULL,
  `date_derniere_action` datetime NOT NULL,
  `role` varchar(50) NOT NULL DEFAULT 'user',
  PRIMARY KEY (`id_operateur`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operateurs`
--

LOCK TABLES `operateurs` WRITE;
/*!40000 ALTER TABLE `operateurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `operateurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `variables`
--

DROP TABLE IF EXISTS `variables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `variables` (
  `id_variable` int(11) NOT NULL AUTO_INCREMENT,
  `zone` varchar(50) NOT NULL,
  `nom_variable` varchar(255) NOT NULL,
  `adresse_ip` varchar(255) NOT NULL,
  `unite` varchar(50) NOT NULL,
  `seuil_alerte_min` int(11) NOT NULL,
  `seuil_alerte_max` int(11) NOT NULL,
  `date_creation` datetime NOT NULL,
  `date_modification` datetime NOT NULL,
  `enregistrement_modbus` varchar(255) NOT NULL,
  `valeur` float DEFAULT NULL,
  PRIMARY KEY (`id_variable`)
) ENGINE=InnoDB AUTO_INCREMENT=104 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `variables`
--

LOCK TABLES `variables` WRITE;
/*!40000 ALTER TABLE `variables` DISABLE KEYS */;
/*!40000 ALTER TABLE `variables` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-11-30 22:25:38
